name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.4
        env:
          MYSQL_DATABASE: my_wiki
          MYSQL_ROOT_PASSWORD: testpwd
        ports:
          - '3306:3306'
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3

    - name: Composer
      run: cd mediawiki && composer install && composer test

    - name: MediaWiki
      run: |
        git clone https://gerrit.wikimedia.org/r/mediawiki/core.git --recursive --shallow-submodules --depth=1 --branch=REL1_44 tmp_wiki
        cd tmp_wiki
        ln -s ../mediawiki/composer.local.json composer.local.json
        composer update
        php maintenance/run.php install --dbpass=testpwd --dbuser=root --dbserver=127.0.0.1 --with-developmentsettings --with-extensions --pass=admin123admin TestWiki Admin
        composer phpunit
